<%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-sm', style: 'float: right;' %>

<h2>Admin - Planning des inscriptions</h2>
<br>
<%= link_to 'Exporter CSV', admin_inscriptions_export_path(format: 'csv') %>

<br>

<%= render 'shared/month_selector', admin: true %>

<table class="main-table">
  <tr>
    <th class="head-row date-column">
      <h3>&nbsp;</h3>
    </th>

    <th class="head-row">
      <h3>Petit-déjeûner <br><small>(7h30-8h30)</small></h3>
    </th>

    <th class="head-row">
      <h3>Dîner <br><small>(20h-22h)</small></h3>
    </th>

    <th class="head-row">
      <h3>Nuit <br><small>(22h30-7h30)</small></h3>
    </th>

    <th class="head-row">
      <h3>Ménage <br><small>(8h45-11h)</small></h3>
    </th>

    <th class="head-row comment-column">
      <h3><br><small>Email</small></h3>
    </th>
  </tr>

  <% pair = true %>
  <% semaine = 0 %>
  <% (@from_date..@to_date).each do |date| %>
    <% if date > Date.today - 2 %>

      <% if date > @from_date + 2 && l(date, format: '%A') == "lundi" %>
        <% semaine += 1 %>
        <tr>
          <th class="head-row date-column">
            <h3>&nbsp;</h3>
          </th>

          <th class="head-row">
            <br>
            <br>
            <h3>Petit-déjeûner <br><small>(7h30-8h30)</small></h3>
          </th>

          <th class="head-row">
            <br>
            <br>
            <h3>Dîner <br><small>(20h-22h)</small></h3>
          </th>

          <th class="head-row">
            <br>
            <br>
            <h3>Nuit <br><small>(22h30-7h30)</small></h3>
          </th>

          <th class="head-row menage-column">
            <br>
            <br>
            <h3>Ménage <br><small>(8h45-11h)</small></h3>
          </th>

          <th class="head-row comment-column">
            <br>
            <br>
            <h3><br><small>Email</small></h3>
          </th>
        </tr>
      <% end %>

      <tr class="<%= 'pair' if pair %><%= ' red-missing' if date < Date.today + 30 && semaine < 2 %>">
        <td class="event-box date-column">
          <%= l(date, format: :long).humanize %>
        </td>

        <td class="event-box">
          <%= render partial: 'event_section', locals: { start_date: date, event_type: 'Petit-dejeuner', required_number: 2 } %>
        </td>

        <td class="event-box">
          <%= render partial: 'event_section', locals: { start_date: date, event_type: 'Diner', required_number: 4 } %>
        </td>

        <td class="event-box">
          <%= render partial: 'event_section', locals: { start_date: date, event_type: 'Nuit', required_number: 2 } %>
        </td>

        <% if l(date, format: '%A') == "samedi" %>
          <td class="event-box menage-column">
            <%= render partial: 'event_section', locals: { start_date: date, event_type: 'Menage', required_number: 2 } %>
          </td>
        <% else %>
          <td class="event-box" style="min-width: 100px; text-align: right;">
          </td>
        <% end %>
        <td class="event-box comment-column">
          <% diner = Event.find_by(start_date: date, event_type: 'Diner') %>
          <% if diner %>
            <% if diner.mail_sent %>
              <%= link_to 'Renvoyer un email', admin_auto_emails_path(date: date), class: 'btn btn-default btn-sm' %>
            <% else %>
              <%= link_to 'Envoyer les emails', admin_auto_emails_path(date: date), class: 'btn btn-primary btn-sm' %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% pair = !pair %>
    <% end %>
  <% end %>
</table>
