<div class="col-sm-6">
  <h1>Hiver Solidaire <small> - <%= ENV['APP_NAME'] %></small></h1>
  <h2>Questions réponses</h2>
</div>

<%= link_to 'Retour', :back, class: 'btn btn-default', style: 'float: right; margin: 20px;' %>

<div class="col-xs-12 nav-link">
  <br>
  <br>
  <h4>Pourquoi participer à Hiver Solidaire ?</h4>
  <p>« Plus vous donnerez, plus vous recevrez » a dit Saint Vincent de Paul, venez, vous comprendrez !</p>
  <p>Ou, pour plus de renseignements n’hésitez pas à visiter notre blog… <a href="https://hiversolidaire.wordpress.com/hiver-solidaire-c-est/">https://hiversolidaire.wordpress.com/hiver-solidaire-c-est/</a> </p>

  <br>
  <h4>Qui peut participer à Hiver Solidaire ?</h4>
  <p>Tout le monde bien sûr, le plus de monde possible ! Si vous n’êtes pas très sûr de cadrer et que l’idée vous angoisse un peu, alors Hiver Solidaire est fait pour vous ! Deux exceptions seulement : les mineurs peuvent participer aux dîners mais sous la responsabilité d’un adulte et seuls les hommes peuvent s’inscrire pour la nuit.</p>

  <br>
  <h4>Comment m’inscrire ?</h4>
  <p>En cliquant sur <%= link_to 'ce lien', root_path %>, puis sur « s’inscrire » à la date que vous souhaitez. Renseignez alors votre nom, numéro de téléphone et mail. Pour la sérénité de tous merci de vous inscrire au moins une semaine à l’avance.</p>

  <br>
  <h4>Pourquoi donner mon numéro de téléphone ?</h4>
  <p>Personne n’est à l’abri d’une erreur ou d’un oubli et nous devons pouvoir vous joindre si vous n’arrivez pas à temps le moment venu. Soyez attentifs à remplir correctement votre numéro de téléphone, car il vous servira à vous connecter plus tard. La connexion avec le numéro de téléphone vous épargnera le remplissage des autres champs pour les futures inscriptions et vous permettra de vous désinscrire.</p>

  <br>
  <h4>Ah ! Je me suis trompé de jour !</h4>
  <p>Pas de panique. S’il vous est impératif de vous désinscrire, vous pouvez accéder à la page d’inscription et vérifier que vous êtes connecté. Si besoin connectez-vous en renseignant votre numéro de téléphone. Votre nom apparaît alors en vert dans la liste des participants aux dates auxquelles vous êtes inscrits. Il vous suffit de cliquer sur votre nom à la date voulue pour accéder à la page de désinscription. Vous nous manquerez ! Priez pour nous ce soir-là !</p>

  <br>
  <h4>Nous n’avons qu’un téléphone pour deux, comment faire ?</h4>
  <p>Evitez de vous inscrire avec rigoureusement le même numéro car le dernier inscrit ne pourra plus se connecter ni se désinscrire. Vous pouvez par exemple en enregistrer un avec des espaces tous les deux chiffres et l’autre sans espace ou l’un avec l’indicatif 0033 et l’autre sans.</p>

  <br>
  <h4>… je n’arrive pas à me désinscrire</h4>
  <p>Envoyez un mail à <a href="mailto:<%= ENV['EMAIL_CONTACT'] %>"><%= ENV['EMAIL_CONTACT'] %></a> en précisant votre nom et la date, nous nous en chargerons.</p>
</div>

