<div class="col-sm-6">
  <h1>Hiver Solidaire <small> - <%= ENV['APP_NAME'] %></small></h1>
  <h2>Calendrier des inscriptions</h2>
</div>

<br>
<% if @current_user.present? %>
  <div class="col-md-3 col-md-offset-3 col-sm-6 well">
    <div class="container-fluid no-padding">
      <%= link_to 'Déconnexion', my_logout_path, class:'btn btn-default btn-sm', style: 'float: right;' %>
      <p>Mes informations :</p>
      <%= @current_user.first_name %> <%= @current_user.last_name %><br>
      <%= @current_user.phone %><br>
      <%= @current_user.email %><br>
    </div>
  </div>
<% else %>
  <div class="col-md-3 col-md-offset-3 col-sm-6 well">
    <div class="container-fluid no-padding">
      <%= form_tag my_login_path do %>
        <div class="col-xs-12 no-padding">
          Connexion :
        </div>
        <div class="col-xs-8 no-padding">
          <%= text_field_tag :phone, '', class: 'form-control', placeholder: 'Numéro de téléphone', required: 'required' %>
        </div>
        <div class="col-xs-4">
          <%= submit_tag 'Envoyer', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="col-md-3 col-md-offset-9 col-sm-6 nav-link">
  <%= link_to 'Questions réponses', faq_path %>
</div>

<%= render 'shared/month_selector', admin: false %>

<%= render 'events/events_table', admin: false %>
